* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
body{
	margin-bottom: 30px;
}
#box{
  width: 149px;
	font-size: 60px;

}


#container {
  width:  600px;
	height: 600px;
	background-color: #00a283;
  margin-top: 2%;
	margin-left: auto;
  outline:1px solid black;

}

.odd {

    float: left;
		display: inline;
		width: 31.25px;
			height: 31.25px;


}
.buttons{
	display: block;
}
.buttonss{
	background-color: rgba(192,192,192,0.3);
     border: none;
     color: black;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     width: 150px ;
     font-size: 16px;
     margin: 5px 3px;
     cursor: pointer;
}
ul li{
	list-style:  none;
}
#twonum{
	width: 150px ;
	font-size: 30px;
	 padding: 15px 32px;
	 margin: 5px 3px;
	 font-family: cursive;

}

#text{
	font-size: 30px;
	text-align: center;

	font-family: sans-serif;
    margin-left: 120px;
}

#texttwo{
	font-size: 20px;
	font-family: sans-serif;
  margin-left:  50px;
}
